{{ $directory := "content/" }}
{{ $filename := "about.md" }}
{{ if (where (readDir $directory) "Name" $filename) -}}
  <section class="about" id="about">
    <div class="container middle-xs">
      <div class="row center-xs">
        <div class="col-xs-12">
          <h1>{{ with $.Site.GetPage "page" "about" }}{{ .Title }}{{ end }}</h1>
        </div>
      </div>
      <div class="row center-xs">
        <div class="col-xs-12 middle-xs">
          <div style="font-size:2em">
            {{ with $.Site.GetPage "page" "about" -}}
            {{ .Description }}

            {{- end }}
          </div>

          <div style="text-align:justify">
              {{ with $.Site.GetPage "page" "about" -}}
              {{ .Content }}

              {{- end }}
          </div>
        </div>
      </div>
    </div>
  </section>
{{- end }}
